.header{
  height: 67px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid rgb(216, 215, 215);
  z-index: 100;
}

.left-section{
  display: flex;
  align-items: center;
}

.hamburger-menu{
  height: 30px;
  margin-left: 27px;
  margin-right: 30px;
}

.youtube-logo{
  height: 26px;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.search-bar{
  flex: 1;
  height: 41px;
  padding-left: 10px;
  font-size: 18px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  width: 0;
}

.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 18px;
}

.search-button{
  height: 45px;
  width: 60px;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(190, 190, 190);
  margin-left: -1px;
  margin-right: 13px;
  position: relative;
}


.search-button .tooltip,
.voive-search-button .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: linear 0.1s;
  pointer-events: none;
}

.search-button:hover .tooltip{
  opacity: 1;
}

.search-icon{
  height: 28px;
  margin-top: 4px;
}

.voice-search-button{
  height: 46px;
  width: 46px;
  border-radius: 23px;
  border: none;
  background-color: rgb(238, 236, 236);
}

.voice-search-icon{
  height: 26px;
  margin-top: 4px;
  background-color: rgb(238, 236, 236);
}

.right-section{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 28px;
  flex-shrink: 0;
}

.upload-icon{
  height: 27px;
}

.youtube-apps-icon{
  height: 27px;
}

.notifications-icon{
height: 27px;
}

.notifications-icon-container{
  position: relative;
}

.notifications-count{
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(201, 6, 6);
  color: white;
  font-family: roboto,arial;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}

.current-user-picture{
height: 33px;
border-radius: 16px;
}