.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: #ffffff;
  width: 84px;
  z-index: 200;
  padding-top: 5px;
  visibility: visible;
}

.sidebar-link{
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover{
  background-color: rgb(231, 231, 231);
}

.sidebar-link img{
  height: 27px; 
  margin-bottom: 4px;
}

.sidebar-link div{
  font-family: roboto,arial;
  font-size: 12px;
}