 
      .thumbnail{
        /* width: 300px; */
        /* display: block; */
        width: 100%;
      }


      .video-title{
        margin-top: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 10px;
      }

      /* video-preview */
        /* width:300px; */
        /* display: inline-block;
        vertical-align: top; 
        margin-right: 15px;  */
        
      


      .video-info-grid{
        display: grid;
        grid-template-columns: 50px 1fr;
      }


      /* channel-picture */
        /* display: inline-block; 
        width: 50px; 
        vertical-align: top;   */
        /* background-color: gray; */
      

      /* video-info */
        /* display: inline-block; 
        width: 245px;  */
        /* background-color: gray;  */
      

      

      .profile-picture{
        width: 36px;
        border-radius: 50px;
      }

      .thumbnail-row{
        margin-bottom: 8px;
        position: relative;
      }

      .video-author{
        font-size: 14px;
        color: rgb(96,96,96);
        margin-bottom: 4px;
        font-weight: 400px;
      }

      .video-stats{
        font-size: 12px;
        color: rgb(96,96,96);
      }

      .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px;
      }

      @media(max-width: 1150px){
        .video-grid{
        grid-template-columns: 1fr 1fr;
        }
      }

      @media(max-width: 690px){
        .video-grid{
          grid-template-columns: 1fr;
        }

      }

      @media(max-width: 750px){
        .sidebar{
          opacity: 0;
          visibility: hidden;
          display: none;
        }

        .video-grid{
          margin-left: 0;
          padding-left: 0;
        }

        .body{
          padding-left: 0;
        }
        
      } 

      /* @media(min-width:1000px){
        .video-grid{
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      } */

      .video-time{
        background-color: black;
        color: white;
        position: absolute;
        bottom: 10px;
        right: 5px;
        font-family: Roboto, Arial;
        font-size:12px;
        font-weight: 500;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom:4px;
        border-radius: 2px;
      }